.container {
	width: 100%;
	height: 100%;
	padding: 40px;
	border-right: 1px solid #e6e6e6;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title_wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-size: 32px;
}

.chart {
	width: 100%;
	height: 100%;
	padding: 40px;
	border-radius: 30px;
	background-color: #e6e6e6;
}
