.container {
	width: 100vw;
	height: calc(100vh - 100px);
	display: flex;
	align-items: center;
	justify-content: start;
}

.left {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
.center {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
.right {
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
